<div class="left">
<a href="{{ path('activities_diary') }}">
Activities Diary
</a>
</div>

<div class="left">
<a href="{{ path('activities_diary_monthly_log') }}">
Monthly Log
</a>
</div>

<div class="left">
<a href="{{ path('activities_browse') }}">
Browse
</a>
</div>

<br class="clear" />
