<div class="left">
<a href="{{ path('weight_diary') }}">
Log
</a>
</div>
<div class="left">
<a href="{{ path('weight_diary_new') }}">
Weigh In
</a>
</div>
<div class="left">
<a href="{{ path('weight_diary_predict') }}">
Predict
</a>
</div>

<br class="clear" />
