{% extends "::base.html.twig" %}

{% block title %}Count2HealthAppBundle:WeightLogController:delete{% endblock %}

{% block body %}
<h1>Welcome to the WeightLogController:delete page</h1>
{% endblock %}
