{% extends "::base.html.twig" %}

{% block title %}Modify Personal Details{% endblock %}

{% block body %}
<h1>Modify Personal Details</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function heightUnitsSelected()
{
$form = $(this).closest('form');
var data = {};
data[$(this).attr('name')] = $(this).val();

$.ajax({
url: Routing.generate('profile_personal_details'),
type: $form.attr('method'),
data: data,
success: function (html)
{
$('#count2health_userbundle_personaldetails_height').replaceWith(
    $(html).find('#count2health_userbundle_personaldetails_height'));
},
error: function (xhr)
{
alert(xhr.responseText);
}
        });
}

$('#count2health_userbundle_personaldetails_heightUnits_0').change(heightUnitsSelected);
$('#count2health_userbundle_personaldetails_heightUnits_1').change(heightUnitsSelected);

function weightUnitsSelected()
{
$form = $(this).closest('form');
var data = {};
data[$(this).attr('name')] = $(this).val();

$.ajax({
url: Routing.generate('profile_personal_details'),
type: $form.attr('method'),
data: data,
success: function (html)
{
$('#count2health_userbundle_personaldetails_startWeight').replaceWith(
    $(html).find('#count2health_userbundle_personaldetails_startWeight'));
}
        });
}

$('#count2health_userbundle_personaldetails_weightUnits_0').change(weightUnitsSelected);
$('#count2health_userbundle_personaldetails_weightUnits_1').change(weightUnitsSelected);

</script>
{% endblock %}
