{% extends '::base.html.twig' %}

{% block title %}Select Health Plan{% endblock %}

{% block body %}
<h1>Select Your Health Plan</h1>

<p>There are three plans to choose from:</p>

<ul>
<li><a href="{{ path('profile_health_plan', {"type": "loss"}) }}">Weight Loss</a><br>
This plan allows you to set a weight goal, and tells you the best calorie deficit to reach your goal successfully.</li>

<li><a href="{{ path('profile_health_plan', {"type": "maintenance"}) }}">Weight Maintenance</a><br>
This plan allows you to maintain your current weight. It will help you track your calories consumed per day so as not to have either a deficit or excess.</li>

<li><a href="{{ path('profile_health_plan', {"type": "gain"}) }}">Weight Gain</a><br>
This plan allows you to set a weight goal, and tells you the best calorie excess to reach your goal successfully.</li>
</ul>

{% endblock %}
