{% extends '::base.html.twig' %}

{% block title %}Count2Health{% endblock %}

{% block body %}
<h1>Count2Health</h1>

<p>Count2Health allows you to track your weight loss journey, and calories consumed per day.</p>

<p>Counting calories is the best way of losing weight. Weight is only lost when you have a calorie deficit. Count2Health will help you to track your deficit and make sure you are on the path to achieving your weight loss goals.</p>
{% endblock %}
