{% extends '::base.html.twig' %}

{% block title %}Count2Health{% endblock %}

{% block body %}
<h1>Count2Health</h1>

<p>Count2Health allows you to track your weight-loss journey by tracking your calories and daily weight trend.</p>
{% endblock %}
