{% extends "::base.html.twig" %}

{% block title %}Modify Account Settings{% endblock %}

{% block body %}
<h1>Modify Account Settings</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function heightUnitsSelected()
{
$form = $(this).closest('form');
var data = {};
data[$(this).attr('name')] = $(this).val();

$.ajax({
url: Routing.generate('account_settings'),
type: $form.attr('method'),
data: data,
success: function (html)
{
$('#count2health_appbundle_setting_height').replaceWith(
    $(html).find('#count2health_appbundle_setting_height'));
},
error: function (xhr)
{
alert(xhr.responseText);
}
        });
}

$('#count2health_appbundle_setting_heightUnits_0').change(heightUnitsSelected);
$('#count2health_appbundle_setting_heightUnits_1').change(heightUnitsSelected);

function weightUnitsSelected()
{
$form = $(this).closest('form');
var data = {};
data[$(this).attr('name')] = $(this).val();

$.ajax({
url: Routing.generate('account_settings'),
type: $form.attr('method'),
data: data,
success: function (html)
{
$('#count2health_appbundle_setting_startWeight').replaceWith(
    $(html).find('#count2health_appbundle_setting_startWeight'));
}
        });
}

$('#count2health_appbundle_setting_weightUnits_0').change(weightUnitsSelected);
$('#count2health_appbundle_setting_weightUnits_1').change(weightUnitsSelected);

</script>
{% endblock %}
